@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Work+Sans:wght@500&family=Secular+One&family=Rampart+One&family=Fontdiner+Swanky&family=Rampart+One&display=swap&family=Bungee+Spice&family=Kalam:wght@300&family=Fasthand&family=Chakra+Petch:wght@500&family=Finlandica:wght@600&family=Rubik+Dirt&family=Lato:wght@700&family=Tourney:wght@200&family=Russo+One&family=Nunito:wght@500&family=Oswald:wght@300&family=Roboto:wght@300;500;900&family=Satisfy&display=swap'
);

/*
    font-family:
    
'"Chakra Petch", "sans-serif"',
'"Lato", "sans-serif"',
'"Nunito", "sans-serif"',
'"Oswald", "sans-serif"',
'"Roboto", "sans-serif"',
'"Russo One", "sans-serif"',
'"Satisfy", "cursive"',
'"Tourney", "cursive"',
'"Rubik Dirt", "cursive"',
'"Finlandica", "sans-serif"',
'"Bungee Spice", "cursive"',
'"Kalam", "cursive"',
'"Fasthand", "cursive"',
'"Kanit", "sans-serif"',
'"Work Sans", sans-serif',
'Verdana',

*/

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5d5d5d;
}

::-webkit-scrollbar-thumb:active {
    background: #2e2e2e;
}