//css for dropdown problem list

.css-1o0mwkm-MuiModal-root-MuiDialog-root {
    overflow-y: auto;
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {

    & .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
        box-sizing: border-box;
        width: 400px;
        max-height: 45vh;
        overflow-y: auto;
    }

    & .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
        margin-top: 3px;
    }

    & ul.css-6hp17o-MuiList-root-MuiMenu-list {
        background-color: #ff9393;
        border: 2px white solid;
        border-radius: 10px;

        & li {
            background-color: unset;
            transition: background-color 0.3s;

            & span{
                white-space: pre-wrap;
            }

            &:hover {
                background-color: pink;
            }

            &.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
                background-color: pink;
            }
        }
    }
}